<ion-header>
  <ion-toolbar>
    <ion-title>Facebook Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!isLoggedIn">
    <ion-button expand="full" color="primary" (click)="fbLogin()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Login with Facebook
    </ion-button>
  </div>

  <div *ngIf="isLoggedIn">
    <ion-card>
      <img [src]="user.picture.data.url" alt="{{ user.name }}" />
      <ion-card-header>
        <ion-card-title>{{ user.name }}</ion-card-title>
        <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" color="secondary" (click)="logout()">
          Logout
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
